body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  background-color: #e74c3c; /* Colore rosso acceso */
  color: #fff;
  padding: 10px 20px;
}

.logo-container {
  flex: 0 0 auto;
}

header .logo {
  width: 50px; /* Dimensione del logo */
  height: auto;
}

nav {
  flex: 1;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

section {
  padding: 40px 20px;
  text-align: center;
}

section#home {
  position: relative;
  background: url('./pizza-margherita.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: hidden; /* Assicurati che il contenuto non scorra fuori dalla sezione */
  height: 100vh; /* Assicura che la sezione occupi tutta l'altezza del viewport */
}

section#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Usa la stessa immagine di sfondo */
  filter: blur(8px);
  z-index: 0;
  opacity: 0.6; /* Riduci l'opacità per renderla meno visibile */
}

section#home h2,
section#home p {
  position: relative;
  z-index: 1;
  color: #000; /* Colore del testo nero */
}

section#home h2 {
  font-size: 3em; /* Dimensione del testo più grande */
  margin-bottom: 20px;
}

section#home p {
  font-size: 1.5em; /* Dimensione del testo più grande */
}

section#menu,
section#ordina,
section#contatti {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label,
form input,
form select,
form button {
  margin: 10px;
  font-size: 1.2em;
}

form input,
form select {
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

form button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #c0392b;
}

#chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  border: 2px solid #343a40;
  border-radius: 10px;
  background-color: #fff;
  display: none;
}

#chatbot.open {
  display: block;
}

#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e74c3c;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#chatbot-message {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}

#chatbot-message.show {
  display: block;
}
